.loginPage {
  min-width: 100vw;
  min-height: 100vh;
  background-color: var(--surface-ground);

  .mainContent {
    height: 100vh;
  }

  .panel {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .panelContent {
    display: flex;
    flex-direction: column;
    padding: 50px;
    background: var(--surface-overlay);
    color: white;
    border-radius: 3px;

    .errorMessage {
      background-color: #b71e1e;
      padding: 25px;
      margin-bottom: 30px;
      border-radius: 3px;
    }

    h1 {
      margin-bottom: 30px;
    }

    .forgotPasswordLink {
      margin-top: 10px;
      color: var(--primary);
      cursor: pointer;
      text-align: center;
    }
  }

  .footerContent {
    position: fixed;
    bottom: 5vh;
  }
}